@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md enabled:hover:bg-blue-700 enabled:focus:outline-none enabled:focus:ring-2 enabled:focus:ring-blue-400 enabled:focus:ring-opacity-75 disabled:opacity-75 disabled:cursor-no-drop;
  }
  .btn-success {
    @apply py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md enabled:hover:bg-green-700 enabled:focus:outline-none enabled:focus:ring-2 enabled:focus:ring-green-400 enabled:focus:ring-opacity-75 disabled:opacity-75 disabled:cursor-no-drop;
  }
  .btn-danger {
    @apply py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md enabled:hover:bg-red-700 enabled:focus:outline-none enabled:focus:ring-2 enabled:focus:ring-red-400 enabled:focus:ring-opacity-75 disabled:opacity-75 disabled:cursor-no-drop;
  }
  .btn-secondary {
    @apply py-2 px-4 bg-gray-500 text-white font-semibold rounded-lg shadow-md enabled:hover:bg-gray-700 enabled:focus:outline-none enabled:focus:ring-2 enabled:focus:ring-gray-400 enabled:focus:ring-opacity-75 disabled:opacity-75 disabled:cursor-no-drop;
  }
  .form-default {
    @apply flex flex-wrap flex-col bg-white;
  }
  .input-text {
    @apply w-full h-12 mt-1 mb-1 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
  }

  .form-options button + button {
    margin-left: 5px;
  }

  .form-title {
    @apply text-lg text-gray-700 md:text-2xl;
  }

  .caixa-input-100 {
    max-width: 48rem;
    width: 100%;
  }

  .caixa-input-50 {
    max-width: 24rem;
    width: 100%;
  }

  .caixa-input-25 {
    width: 12rem;
  }

  .caixa-input-100,
  .caixa-input-50,
  .caixa-input-25 {
    margin-bottom: 20px;
  }

  @media (max-width: 1000px) {
    .form-options span {
      display: none;
    }
  }
}
